<footer>
  <div class="container">
    <ul class="nav">
      <li><a href="https://www.complaintsboard.com/new_complaint/">File a complaint</a></li>
      <li><a href="https://www.complaintsboard.com/about/">About us</a></li>
      <li><a href="https://www.complaintsboard.com/categories">Categories</a></li>
      <li><a href="https://www.complaintsboard.com/location-links">Locations</a></li>
      <li><a href="https://www.complaintsboard.com/faq">FAQ</a></li>
      <li><a href="https://www.complaintsboard.com/faq-business">Business FAQ</a></li>
      <li><a href="https://www.complaintsboard.com/terms-conditions">Terms of Use</a></li>
      <li><a href="https://www.complaintsboard.com/privacy-policy">Privacy Policy</a></li>
      <li><a href="https://www.complaintsboard.com/cookie-policy">Cookie Policy</a></li>
      <li><a href="https://www.complaintsboard.com/legal-information">Legal Information</a></li>
      <li><a href="https://www.complaintsboard.com/thank-you-emails/">Testimonials</a></li>
      <li><a href="https://www.complaintsboard.com/contact-us">Contact us</a></li>
    </ul>
    <div class="directory">
      Business Directory:
      <ul class="nav">
        <li><a href="/business-directory/a">A</a></li>
        <li><a href="/business-directory/b">B</a></li>
        <li><a href="/business-directory/c">C</a></li>
        <li><a href="/business-directory/d">D</a></li>
        <li><a href="/business-directory/e">E</a></li>
        <li><a href="/business-directory/f">F</a></li>
        <li><a href="/business-directory/g">G</a></li>
        <li><a href="/business-directory/h">H</a></li>
        <li><a href="/business-directory/i">I</a></li>
        <li><a href="/business-directory/j">J</a></li>
        <li><a href="/business-directory/k">K</a></li>
        <li><a href="/business-directory/l">L</a></li>
        <li><a href="/business-directory/m">M</a></li>
        <li><a href="/business-directory/n">N</a></li>
        <li><a href="/business-directory/o">O</a></li>
        <li><a href="/business-directory/p">P</a></li>
        <li><a href="/business-directory/q">Q</a></li>
        <li><a href="/business-directory/r">R</a></li>
        <li><a href="/business-directory/s">S</a></li>
        <li><a href="/business-directory/t">T</a></li>
        <li><a href="/business-directory/u">U</a></li>
        <li><a href="/business-directory/v">V</a></li>
        <li><a href="/business-directory/w">W</a></li>
        <li><a href="/business-directory/x">X</a></li>
        <li><a href="/business-directory/y">Y</a></li>
        <li><a href="/business-directory/z">Z</a></li>
      </ul>
    </div>
    <p class="copyright">© 2004-2022 ComplaintsBoard.com. All rights reserved.</p>
    <ul class="social-list">
      <li>
        <a href="https://www.facebook.com/ComplaintsBoardCom/" rel="noopener noreferrer nofollow" class="social-round social-round-facebook" target="_blank">
          <img src="./assets/facebook.svg" alt="">
        </a>
      </li>
      <li>
        <a href="https://twitter.com/ComplaintsBoard" rel="noopener noreferrer nofollow" class="social-round social-round-twitter" target="_blank">
          <img src="./assets/twitter.svg" alt="">
        </a>
      </li>
    </ul>
  </div>
</footer>